footer{
    height:50px; bottom:0;
  }
  content{
    top: 80px;
    bottom:80px;
    overflow:hidden; 
  }
  
  body {
  
      background-color: rgb(138, 138, 165);
    
    }
    nav {
      text-align: left;
      background: rgb(33, 216, 27);
      border: 20px;
    }
    
    
    h1 {text-align:left;
      background-color: rgb(173, 122, 196);
      color: #ecdedec7;
    }
    p {
      color: rgb(0, 174, 255);
      border: 20px;
    }
    
    img {
      border-radius: 6px;
      border-radius: 15px;
    }
   
  
    p {
      font-size: 140%;
      font-family: courier;
      border: 2px solid rgb(158, 238, 10);
      margin: 8px;
      float: left;
      
        font-size : 15px;
        font-weight : bold;
        color : rgb(83, 54, 88);
    
    }
    main {
      
      margin: auto;
      width: 40%;
      border: 3px solid rgb(238, 120, 10);
      padding: 5px;
    
      border-style: inset;
      background: rgb(169, 177, 175);
    }
    h2 {
  
      text-align: left;
      background-color: rgb(8, 84, 247);
      color: #bde412;
      
    }
    
    nav {
      font-size: 140%;
      font-family: courier;
      border: 2px solid rgb(5, 172, 194);
      margin: 8px;
      position: fixed;
      
        font-size : 15px;
        font-weight : bold;
        color : rgb(104, 11, 62);
    
    }
    [data-icon]:before {
      font-family: icons; /* BYO icon font, mapped smartly */
      content: attr(data-icon);
      speak: none; /* Not to be trusted, but hey. */
    }